* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calc-cont {
  justify-content: space-between;
  padding: 5% 8%;
}

.disflex {
  display: flex;
}

.calculator {
  flex-direction: column;
  width: 30%;
  margin-right: 15%;
  height: 100%;
  border: 1px solid;
  font-size: 20px;
}

.solution {
  width: 100%;
  text-align: end;
  padding: 3% 1%;
  background: grey;
  color: white;
}

.calculator-text {
  font-size: 22px;
  font-weight: bold;
}

button {
  height: 7vh;
}

.operators {
  width: 75%;
  display: grid;
  grid-template-columns: auto auto auto;
}

.two-btn {
  grid-column-start: 1;
  grid-column-end: 3;
}

.orange-btn {
  flex-direction: column;
  width: 25%;
}

.orange-btn button {
  background: orange;
  width: 100%;
  border: 1px solid;
}
